@media screen and (min-width:320px) and (max-width:570px){
.block1{
    width:auto;
	height:auto;
    margin:10px auto;
     
}
}
@media screen and (min-width:571px) and (max-width:640px){
    .block1{
        width: auto;
        height: auto;
    }
}
@media screen and (min-width:641px) and (max-width:770px){
    .block1{
        width:45%;
    }
    .block2{
        width: 45%;
    }
    .block3{
        width: 90%;
    }
}

@media screen and (min-width:771px) and (max-width:1029px) {
    .block1 {
        width: 45%;
    }

    .block2 {
        width: 45%;
    }

    .block3 {
        width: 90%;
    }
}